html {
  scroll-behavior: smooth;
}

body {
	position: relative;
}

#banner {
	margin-top: 75px;
}

.icons {
	font-size: 50px;
}

.elink-icon {
	position: absolute;
	right: 5px;
	top: 5px;
}

.icons a:hover {
	text-decoration: none;
}

.fa-facebook-square {
	color: #3b5998;
}

.fa-snapchat-square {
	color: #fffc00;
}

.fa-twitter-square {
	color: #55acee;
}

.fa-github-square {
	color: #24292e;
}

.fa-linkedin {
	color: #007bb5;
}

.logo-small {
	font-size: 50px;
}

a.card {
	border: 1px solid #000000;
  border-radius: 1px;
  color: #000000;
	position: relative;
}

a.card:hover {
	text-decoration: none;
	box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

a.
